In [49]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [50]:
# Reading in clean_measurment.csv and clean_station.csv
measurement = pd.read_csv("raw_data/clean_hawaii_measurements.csv")
station = pd.read_csv("raw_data/clean_hawaii_stations.csv")

# Inspecting the DataFrames

In [51]:
measurement.head()

   Unnamed: 0      station    date  prcp  tobs
0           0  USC00519397  1/1/10  0.08    65
1           1  USC00519397  1/2/10  0.00    63
2           2  USC00519397  1/3/10  0.00    74
3           3  USC00519397  1/4/10  0.00    76
4           4  USC00519397  1/6/10  0.00    73

In [52]:
station.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [53]:
# Creating classes

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [61]:
# Creating Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [62]:
# Create tables
Base.metadata.create_all(engine)

In [63]:
engine.table_names()

['measurement', 'station']

In [65]:
# Creating a session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [59]:
# Adding measurement data
measurement.to_sql('measurement', engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table measurement has no column named Unnamed: 0 [SQL: 'INSERT INTO measurement ("Unnamed: 0", station, date, prcp, tobs) VALUES (?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', '1/1/10', 0.08, 65), (1, 'USC00519397', '1/2/10', 0.0, 63), (2, 'USC00519397', '1/3/10', 0.0, 74), (3, 'USC00519397', '1/4/10', 0.0, 76), (4, 'USC00519397', '1/6/10', 0.0, 73), (5, 'USC00519397', '1/7/10', 0.06, 70), (6, 'USC00519397', '1/8/10', 0.0, 64), (7, 'USC00519397', '1/9/10', 0.0, 68)  ... displaying 10 of 19550 total bound parameter sets ...  (19548, 'USC00516128', '8/22/17', 0.5, 76), (19549, 'USC00516128', '8/23/17', 0.45, 76))]

In [60]:
# Adding station data
station.to_sql('station', engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table station has no column named Unnamed: 0 [SQL: 'INSERT INTO station ("Unnamed: 0", station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))]

In [48]:
# Query to check info
station_list = session.query(Station)
for station in station_list:
    print(station)