In [2]:
import pandas as pd

In [3]:
measurements = pd.read_csv("raw_data/hawaii_measurements.csv")
measurements.head()

       station    date  prcp  tobs
0  USC00519397  1/1/10  0.08    65
1  USC00519397  1/2/10  0.00    63
2  USC00519397  1/3/10  0.00    74
3  USC00519397  1/4/10  0.00    76
4  USC00519397  1/6/10   NaN    73

In [74]:
measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB

In [75]:
measurements= measurements.fillna(0)

In [76]:
measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       19550 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB

In [78]:
stations = pd.read_csv("raw_data/hawaii_stations.csv")
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
station      9 non-null object
name         9 non-null object
latitude     9 non-null float64
longitude    9 non-null float64
elevation    9 non-null float64
dtypes: float64(3), object(2)
memory usage: 440.0+ bytes

In [80]:
clean_measurments = measurements.to_csv("clean_hawaii_measurements.csv")
clean_stations = stations.to_csv("clean_hawaii_stations.csv")