In [19]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [20]:
# Reading in clean_measurment.csv and clean_station.csv
measurement = pd.read_csv("raw_data/clean_hawaii_measurements.csv")
station = pd.read_csv("raw_data/clean_hawaii_stations.csv")

# Inspecting the DataFrames

In [21]:
measurement.head()

   Unnamed: 0      station    date  prcp  tobs
0           0  USC00519397  1/1/10  0.08    65
1           1  USC00519397  1/2/10  0.00    63
2           2  USC00519397  1/3/10  0.00    74
3           3  USC00519397  1/4/10  0.00    76
4           4  USC00519397  1/6/10  0.00    73

In [22]:
del measurement["Unnamed: 0"]

In [23]:
measurement.head()

       station    date  prcp  tobs
0  USC00519397  1/1/10  0.08    65
1  USC00519397  1/2/10  0.00    63
2  USC00519397  1/3/10  0.00    74
3  USC00519397  1/4/10  0.00    76
4  USC00519397  1/6/10  0.00    73

In [24]:
station.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [25]:
del station["Unnamed: 0"]

In [26]:
station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [27]:
# Creating classes

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [28]:
# Creating Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [29]:
# Create tables
Base.metadata.create_all(engine)

In [30]:
engine.table_names()

['measurement', 'station']

In [31]:
# Creating a session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [32]:
# Adding measurement data
measurement.to_sql('measurement', engine, if_exists='append', index=False)

In [34]:
# Adding station data
station.to_sql('station', engine, if_exists='append', index=False)

In [36]:
# Query to check info
station_list = session.query(Station)
for station in station_list:
    print(station.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10a9cf978>, 'elevation': 3.0, 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 1, 'latitude': 21.2716, 'station': 'USC00519397'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38208>, 'elevation': 14.6, 'longitude': -157.8015, 'name': 'KANEOHE 838.1, HI US', 'id': 2, 'latitude': 21.4234, 'station': 'USC00513117'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38e80>, 'elevation': 7.0, 'longitude': -157.8374, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 3, 'latitude': 21.5213, 'station': 'USC00514830'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38e48>, 'elevation': 11.9, 'longitude': -157.9751, 'name': 'PEARL CITY, HI US', 'id': 4, 'latitude': 21.3934, 'station': 'USC00517948'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38d30>, 'elevation': 306.6, 'longitude': -158.0111, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 5, 'latitude': 21.4992, 'station': 'USC00518838'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38a90>, 'elevation': 19.5, 'longitude': -157.71139, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 6, 'latitude': 21.33556, 'station': 'USC00519523'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38ef0>, 'elevation': 32.9, 'longitude': -157.84888999999995, 'name': 'WAIHEE 837.5, HI US', 'id': 7, 'latitude': 21.45167, 'station': 'USC00519281'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38dd8>, 'elevation': 0.9, 'longitude': -157.9992, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 8, 'latitude': 21.3152, 'station': 'USC00511918'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10dd38cc0>, 'elevation': 152.4, 'longitude': -157.8025, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 9, 'latitude': 21.3331, 'station': 'USC00516128'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51470>, 'elevation': 3.0, 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 10, 'latitude': 21.2716, 'station': 'USC00519397'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51748>, 'elevation': 14.6, 'longitude': -157.8015, 'name': 'KANEOHE 838.1, HI US', 'id': 11, 'latitude': 21.4234, 'station': 'USC00513117'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb516d8>, 'elevation': 7.0, 'longitude': -157.8374, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 12, 'latitude': 21.5213, 'station': 'USC00514830'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51a20>, 'elevation': 11.9, 'longitude': -157.9751, 'name': 'PEARL CITY, HI US', 'id': 13, 'latitude': 21.3934, 'station': 'USC00517948'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51780>, 'elevation': 306.6, 'longitude': -158.0111, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 14, 'latitude': 21.4992, 'station': 'USC00518838'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51828>, 'elevation': 19.5, 'longitude': -157.71139, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 15, 'latitude': 21.33556, 'station': 'USC00519523'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51978>, 'elevation': 32.9, 'longitude': -157.84888999999995, 'name': 'WAIHEE 837.5, HI US', 'id': 16, 'latitude': 21.45167, 'station': 'USC00519281'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb51c50>, 'elevation': 0.9, 'longitude': -157.9992, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 17, 'latitude': 21.3152, 'station': 'USC00511918'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10fb519e8>, 'elevation': 152.4, 'longitude': -157.8025, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 18, 'latitude': 21.3331, 'station': 'USC00516128'}